@font-face {
  font-family: "Main_Font";
  src: url('font.ttf');
}


.body {

  background-image: url('b_alpha_labs.png');

  background-size: cover;

  background-repeat: no-repeat;

  font-family: Main_Font;

  color: white;
}


.box {

  position: absolute;

  background: transparent;

  border: 2px solid white;

  border-radius: 20px;
  
}


.data_side_bar {

  height: calc(100% - 21px);

  width: calc(20% - 9px);

  position: absolute;

  background: transparent;

  backdrop-filter: blur(15px);

  border: 2px solid white;

  border-radius: 20px;

  top: 9px;

}


.top_chat_box {

  height: 80%;

  width: calc(80% - 26px);

  position: absolute;

  background: transparent;

  backdrop-filter: blur(15px);

  border: 2px solid white;

  border-radius: 20px;

  top: 9px;

  right: 9px;

}

.bottom_chat_box {

  height: calc(20% - 36px);

  width: calc(80% - 26px);

  position: absolute;

  background: transparent;

  backdrop-filter: blur(15px);

  border: 2px solid white;

  border-radius: 20px;

  bottom: 9px;

  right: 9px;
}

.chat_box {

  height: 10%;

  width: 98%;

  position: absolute;

  background: transparent;

  transform: translate(-50%, 0%);
  left: 50%;

  border: 2px solid white;

  border-radius: 10px;

  


}

.input_box {
  background: transparent;

  border: 2px solid white;

  border-radius: 5px;

  position: absolute;

  left: 30px;

  color: white;

  font-family: Main_Font;

  top: 50%;

  transform: translate(0%, -50%);


  height: 50px;

  width: calc(100% - 140px);

  font-size: 20px;
}

.send_button {

  position: absolute;

  height: 40px;

  width: 40px;

  top: 50%;

  transform: translate(0%, -50%);


  right: 30px;


}

.pic {

  position: absolute;

  height: 40px;

  left: 35px;

  top: 50%;

  transform: translate(-50%, -50%);

}

.text {



  position: absolute;

  left: 70px;

  top: 50%;

  transform: translate(0%, -50%);
}


.background_sel {
  top: 50px;
  left: 50%; 
  transform:translate(-50%, -50%);
  position: absolute;
  cursor: pointer;
font-size: 15px;
  transition: 0.5s;
}

.background_sel:hover {
   transition: 0.5s;

  font-size: 17px;
}


.change_icon_button {
  cursor: pointer;
}

.github {
          white-space: nowrap;
        transform:translate(-50%, -50%);
         position: absolute;
        font-size: 15px;
        left: 50%;
        bottom:30px;
          cursor: pointer;
          transition: 0.5s;
  color: white;
}

.github:hover {
         
        font-size: 18px;
  
          transition: 0.5s;
}